
/* DROP DOWN MENU */
#main-menu {
    display: none;
}
#main-menu .container {
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #494548;
}
#main-menu .menu-left {
    text-align: left;
    line-height: 20px;
}
#main-menu .menu-left div {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
#main-menu .menu-left div a {
    color: white;
}
#main-menu .menu-left span {
    padding: 30px;
}
#main-menu .menu-left span p {
    font-size: 13px;
    margin: 0;
}
#main-menu .menu-left span p a {
    color: white;
}

textarea:focus, input:focus {
    color: black;
}

#main-menu .col-xs-3 {
    text-align: left;
    line-height: 20px;
    font-size: 14px;
}
#main-menu .col-xs-3 img {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#main-menu .col-xs-3 form input {
    position: relative;
    width: 220px;
    color: black;
}
#main-menu .col-xs-3 form button {
    font-size: 14px;
    position: absolute;
    float: right;
    height: 26px;
    border-radius: initial;
    padding: 0;
    background-color: #2ED2F7;
}

#main-menu .col-xs-3 i {
    font-size: 24px;
    padding-right: 5px;
    color: white;
}
