
/* DROP DOWN MENU */
#main-menu {
    display: none;
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 5rem;
}
#main-menu .container {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 28px;
    padding-bottom: 10px;
    background-color: #494548;
}
#main-menu .container .row {
    background-color: #494548 !important;
    padding-bottom: 10px;
}
#main-menu .menu-left {
    text-align: left;
    line-height: 20px;
}
#main-menu .menu-left div {
    font-size: 16px;
    border-bottom: 1px solid gray;
    padding: 16px 0px;
}
#main-menu .menu-left div a {
    color: white;
}
#main-menu .menu-left span h4 {
    font-size: 16px;
    color: #cccccc;
    margin: 40px 0px 16px;
}
#main-menu .menu-left span p {
    color: #cccccc;
    font-size: 16px;
    margin-bottom: 16px;
}

textarea:focus, input:focus {
    color: black;
}

#main-menu .col-md-3 {
    text-align: left;
    line-height: 20px;
    font-size: 16px;
}
#main-menu .col-md-3 h4 {
    font-size: 13px;
    margin: 16px 0px 0px;
}
#main-menu .col-md-3 img {
    width: 195px;
    padding: 10px 0px 44px 0px;
}
#main-menu .col-md-3 form input {
    font-size: 16px;
    position: relative;
    width: 230px;
    height: 40px;
    color: black;
}
#main-menu .col-md-3 form button {
    font-size: 16px;
    position: absolute;
    float: right;
    width: 150px;
    height: 40px;
    border-radius: initial;
    padding: 2px 10px;
    background-color: #2ED2F7;
}
#main-menu .col-md-3 i {
    font-size: 24px;
    padding-right: 5px;
    color: white;
}
#main-menu .col-md-3 div p {
    padding: 8px 0px;
}

@media screen and (max-device-width: 414px) {

    #main-menu {
        max-height: 99vh !important;
        overflow: auto !important;
        padding-bottom: 10rem !important;
    }
    #main-menu .menu-left {
        padding-bottom: 7rem !important;
    }
    #main-menu .menu-left .drop-header {
        font-size: 4.5rem !important;
        padding: 6.5rem 3rem !important;
    }
    /* #main-menu .menu-left div i {
        font-size: 25px !important;
    } */
    #main-menu .menu-left .drop-resources {
        padding: 6.5rem 5rem !important;
    }
    #main-menu .menu-left .drop-resources a {
        font-size: 4rem !important;
    }
    #main-menu .menu-left span h4 {
        font-size: 4.5rem !important;
        padding-top: 9rem !important;
        padding-left: 3rem !important;
        font-weight: normal !important;
        color: #cccccc;
    }
    #main-menu .menu-left p {
        font-size: 4rem !important;
        padding-left: 5rem !important;
        line-height: 6rem !important;
        font-family: Montserrat !important;
        color: #cccccc
    }
    #main-menu .col-md-3 h4 {
        font-size: 3.6rem !important;
        font-weight: normal;
        padding-left: 3rem !important;
        padding-bottom: 1rem !important;
    }
    #main-menu .col-md-3 img {
        width: 57rem !important;
        padding-left: 3rem !important;
        padding-bottom: 2rem !important;
    }
    #main-menu .col-md-3 p {
        font-size: 4rem !important;
        padding-top: 10rem !important;
        padding-left: 3rem !important;
        margin: 0 0 2rem !important;
        font-family: Montserrat !important;
    }
    #main-menu #nav-email-form {
        padding: 3rem !important;
    }
    #main-menu #Nav-Email {
        font-size: 4rem !important;
        width: 67rem !important;
        height: 10rem !important;
        padding-left: 3rem !important;
    }
    #main-menu #Nav-Submit {
        font-size: 4rem !important;
        height: 10rem !important;
        width: 22rem !important;
    }

}
